option_settings:
  aws:elasticbeanstalk:application:environment:
    ALLOWED_ORIGINS: "*"
    SPRING_PROFILES_ACTIVE: "prod"
    SPRING_DATASOURCE_URL: "jdbc:postgresql://fitpro-db-instance.cwvqmocuqf0u.us-east-1.rds.amazonaws.com:5432/fitpro_db"
    SPRING_DATASOURCE_USERNAME: "fitpro_admin"
    SPRING_DATASOURCE_PASSWORD: "Moefitpro2025"
    JWT_SECRET: "ZDc4NWY4ZjgtODM5MS00YjljLWI1MjQtOGY5NzM4YWM3NmM5Zml0cHJvLXNlY3VyZS1zZWNyZXQta2V5LTIwMjQ="
    JWT_EXPIRATION: "86400000" 